* 
{
    box-sizing: border-box;
}
body
{
    background-image:url("https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    /* background-image: linear-gradient(180deg, #84B2E1 20%, #579ADF 80%); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div
{
    opacity: 95%;
    background-color: #DADADA;
}

.izquierda
{
    float: left;
}
.derecha
{
    float: right;
}
.INFcolumna
{
    width: 50%;
}
.info
{
    margin-left: 2%;
    margin-right: 2%;
}
